
     .category-page {
      padding: 20px;
    }
    
    .category-products {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 20px;
      margin-top: 20px;
    }
    
    .product-card {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 15px;
      border-radius: 8px;
      background-color: #f9f9f9;
      text-align: center;
    }
    
    .product-card h4 {
      margin-top: 10px;
    }
    
    .product-card p {
      margin: 10px 0;
    }
    
    .add-to-cart-button {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .cart-summary {
      margin-top: 40px;
      padding: 20px;
      border-radius: 8px;
      background-color: #ffffff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .cart-summary h2 {
      margin-bottom: 20px;
      color: #333333;
    }
    
    .cart-summary ul {
      list-style-type: none;
      padding: 0;
    }
    
    .cart-summary li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid #e0e0e0;
    }
    
    .cart-summary li:last-child {
      border-bottom: none;
    }
    
    .cart-summary p {
      font-size: 18px;
      font-weight: bold;
      color: #333333;
    }
    
    .checkout-button {
      display: block;
      width: 100%;
      padding: 10px 0;
      font-size: 18px;
      background-color: #28a745;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-align: center;
      margin-top: 20px;
    }
    
    .remove-from-cart-button {
      margin-left: 10px;
      padding: 5px 10px;
      font-size: 12px;
      background-color: #dc3545;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .cart-button {
      margin-left: 10px;
      margin-right: 10px;
      margin-block: 3px;
      padding: 5px 20px ;
      font-size: 15px;
      background-color: rgb(103, 125, 246);
      color: white;
      border:none;
      border-radius: 15px;
      cursor: pointer;
    }
    
    .cart-button:hover {
      background-color: rgb(165, 177, 250);
    }
    
    .cart-empty {
      text-align: center;
      font-size: 18px;
      color: #666666;
    }
    